// Place all the styles related to the CardSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shichida-card {
  position: absolute !important;
  left: 15%;
  width: 70%;
  height: 96%;
  margin: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 30px #f1f1f1;
  background-color: white;

  .image {
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
  }
}
